/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  background: #f6f6f6;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
.navbar .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-flow: none;
}
.navbar .container a {
  text-decoration: none;
}
.navbar .container a h1 {
  font-size: 3rem;
  margin: 5%;
}
.navbar .container ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
  margin: 0 0 1% 0;
  width: 100%;
}
.navbar .container ul li {
  padding: 2%;
  font-size: 15px;
}
.navbar .container ul li a {
  color: #23293b;
}
@media (max-width: 500px) {
  .navbar {
    position: relative;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.home {
  padding-top: 101px;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .space-images img:hover {
  animation: rotate 1.5s 1;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn a {
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  background: #22283a;
  border-radius: 5px;
}
.home .walk .walk-text .btn a:hover {
  background: white;
  color: #22283a;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home {
    padding-top: 0;
  }
  .home .space-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
    width: 100%;
  }
  .home .space-images .hide {
    display: none;
  }
  .home .space-images img {
    width: 100%;
    padding: 5%;
    margin: auto;
  }
  .home .walk {
    margin-top: 0;
    border-top: 1px solid #dee2e6;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .home .walk .walk-text {
    width: 100%;
    order: 2;
  }
  .home .walk .walk-text .btn a {
    font-size: 15px;
    text-decoration: none;
    padding: 20px 20px;
    display: inline;
    color: white;
    background: #22283a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-flow: none;
  }
  .home .walk .walk-img {
    width: 100%;
    margin-left: 0;
    margin: 0 0 5% 0;
    order: 1;
  }
  .home .walk .walk-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
.about {
  padding-top: 101px;
}
.about .about-header h2 {
  padding: 15px;
}
.about .about-header p {
  padding: 2% 15px;
}
.about .about-header .btn {
  margin: 0 2%;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  background: #22283a;
  border-radius: 5px;
}
.about .about-header .btn:hover {
  opacity: 0.8;
}
.about .what-we-do {
  padding: 15px;
}
.about .what-we-do h3 {
  margin-top: 11px;
}
.about .what-we-do p {
  margin-top: 13px;
}
.about .accomplish-section {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 5% 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
}
.about .accomplish-section .text {
  width: 50%;
  padding: 0 2%;
}
.about .accomplish-section .text h3 {
  margin-bottom: 10px;
}
.about .accomplish-section .text p {
  margin-bottom: 26px;
}
.about .accomplish-section .text .btn {
  margin: 0 2%;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  background: #22283a;
  border-radius: 5px;
}
.about .accomplish-section .text .btn:hover {
  opacity: 0.8;
}
.about .accomplish-section .chart {
  width: 50%;
}
.about .accomplish-section .chart img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about .accomplish-section .chart table {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  background: #f6f6f6;
  color: black;
}
.about .accomplish-section .chart table .grey-background {
  background: #23293b;
  color: white;
}
.about .accomplish-section .chart table td {
  border: 1px solid black;
  padding: 5%;
}
.about .accomplish-section .chart table th {
  border: 1px solid black;
  padding: 5%;
}
@media (max-width: 500px) {
  .about {
    padding-top: 3%;
    text-align: center;
  }
  .about .accomplish-section {
    margin-top: 60px;
    border-top: 1px solid #dee2e6;
    padding: 5% 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
  .about .accomplish-section .text {
    width: 100%;
  }
  .about .accomplish-section .text p {
    margin: 0 0 5% 0;
  }
  .about .accomplish-section .text .btn {
    margin: 0 0 5% 0;
  }
  .about .accomplish-section .chart {
    width: 100%;
  }
}
.main-header {
  padding-top: 120px;
}
.contact {
  margin: 10% 5%;
}
.contact h2 {
  margin: 0 0 1% 0;
}
.contact .btn {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  background: #22283a;
  border-radius: 5px;
}
.contact .text-fields {
  margin: 2% 0;
  display: grid;
  grid-template-areas: "name email" "subject phone";
  grid-gap: 1.2rem;
}
.contact .text-fields .name-input {
  grid-area: name;
}
.contact .text-fields .subject-input {
  grid-area: subject;
}
.contact .text-fields .email-input {
  grid-area: email;
}
.contact .text-fields .phone-input {
  grid-area: phone;
}
.contact .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
.contact .text-fields .text-input {
  padding: 0.5rem 1rem;
}
.contact .contact-info {
  padding: 9% 5%;
  margin: 5% 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  border: 2px solid #dee2e6;
}
.contact .contact-info .box:hover {
  cursor: pointer;
}
