.about {
  padding-top: @padding-fix;
  .main-header {
    h2 {
      padding: 15px;
    }

    p {
      padding: 2% 15px;
    }

    .btn {
      margin: 0 2%;
      font-size: 15px;
      .primaryBtn(10px 20px, inline-block, @btn-bg-color, 5px);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .what-we-do {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }
}
